<nav class="navbar navbar-expand-lg justify-space-between" style="background-color:#E8FFFF;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4" href="{% url 'page_index' %}">Lia Aydınlatma</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'page_index' %}">Anasayfa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'page_services' %}">Hizmetlerimiz</a>
            </li><li class="nav-item">
              <a class="nav-link" href="{% url 'page_contact' %}">İletişim</a>
            </li>
            </li><li class="nav-item">
              <a class="nav-link" href="{% url 'page_products' %}">Ürünlerimiz</a>
            </li>
          </ul>
        
      </div>
    </div>
  </nav>